/* client/src/pages/frontPage/index.module.scss */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: bisque;
    box-sizing: border-box;
    transition: 0.5s;
    filter: brightness(0.5);

    &:hover {
        flex-grow: 3;
        filter: brightness(1);
    }
}
