.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
}

.sidebarContainer {
  // Removed background color, retained flex value
  flex: 1;
}

.eventDetailsSection {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.aerialViewContainer {
  position: relative;
  overflow: hidden;
  flex: 3; 
}

.eventCardContainer {
  flex: 2;
}
