.drawerContainer {
  width: 250px;
  padding: 16px;

  .textField {
    margin-bottom: 16px;
  }

  .submitButton {
    margin-top: 16px;
    background-color: $mfn-primary; 
    color: white;

    &:hover {
      background-color: $mfn-tertiary; 
    }
  }  
}
