.drawerContainer {
  width: 250px;
  padding: 16px;

  .textField {
    margin-bottom: 16px;
  }

  .submitButton {
    margin-top: 16px;
  }

  .cancelButton {
    margin-top: 16px;
    margin-right: 8px;
  }
}
