@import '../../styles/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mfn-background;
  padding: 10px;

  .logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .buttonGroup {
    display: flex;
    gap: 10px;

    button {
      padding: 5px 5px;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      color: white;

      &.addButton {
        background-color: $mfn-secondary;

        &:hover {
          background-color: $mfn-green;
        }
      }

      &.logoutButton {
        background-color: $mfn-secondary;

        &:hover {
          background-color: $mfn-green;
        }
      }
    }
  }
}
