.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;

  .logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .middleSection {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 20px;

    .searchInput {
      max-width: 300px;
      width: 100%;

      .input {
        background-color: white;
        border-radius: 4px;

        .MuiOutlinedInput-root {
          color: black;

          fieldset {
            border-color: transparent;
          }

          &:hover fieldset {
            border-color: #ccc;
          }

          &.Mui-focused fieldset {
            border-color: #777;
          }
        }
      }
    }
  }

  .buttonGroup {
    display: flex;
    gap: 10px;

    button {
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;

      &.logoutButton {
        background-color: #fb8500;
        color: white;

        &:hover {
          background-color: #e76f51;
        }
      }
    }
  }
}
